:root {
  --main-background-color: #ccc7b9;
  --main-nav-color: #ccc7b9;
  --nav-list-active-color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-background-color);
  font-family: "Roboto", sans-serif;
}
